<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Reset Password</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,500italic&display=swap"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
      body {
        font-family: "Roboto", sans-serif;
        background-color: #f7f8fa;
      }

      .reset-password-container {
        max-width: 400px;
        margin: 50px auto;
        padding: 30px;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
      }

      .reset-password-container h1 {
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 20px;
      }

      .reset-password-container .form-control {
        margin-bottom: 20px;
        border-radius: 5px;
      }

      .reset-password-container .alert {
        display: none;
        margin-bottom: 20px;
      }

      #success-msg,
      #error-msg {
        display: none;
        text-align: center;
      }

      .btn-custom {
        width: 100%;
        background-color: #007bff;
        color: white;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
        font-weight: 500;
        transition: background-color 0.3s ease;
      }

      .btn-custom:hover {
        background-color: #0056b3;
      }
    </style>
  </head>

  <body>
    <div class="reset-password-container">
      <div id="success-msg">
        <h1>Successfully Changed Password for <%= handle %></h1>
        <p>You can now use the new password to login.</p>
      </div>
      <div id="error-msg">
        <h1>Failed to Change Password for <%= handle %></h1>
        <p>Reason: <span id="error-reason"></span></p>
      </div>

      <form name="changepass-form" id="changepass-form">
        <h1>Change Password</h1>
        <div class="alert alert-danger" id="alert">
          <p>Passwords must match!</p>
        </div>
        <input type="hidden" name="token" id="token" value="<%= token %>" />
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            readonly
            id="handle"
            value="<%= handle %>"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            name="newpass"
            id="newpass"
            placeholder="Enter New Password"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            name="newpass-verify"
            id="newpass-verify"
            placeholder="Confirm New Password"
            required
          />
        </div>
        <button type="submit" class="btn btn-custom">Submit</button>
      </form>
    </div>

    <script>
      $(document).ready(function () {
        $("#changepass-form").submit(function (e) {
          e.preventDefault();
          if ($("#newpass").val() != $("#newpass-verify").val()) {
            $("#alert").slideDown();
            $("#newpass").focus();
            return false;
          }
          $.ajax({
            method: "POST",
            type: "POST",
            url: "/api/v1/resetpassword",
            data: {
              email: $("#handle").val(),
              token: $("#token").val(),
              password: $("#newpass").val(),
            },
            success: function (resp) {
              if (resp.error) {
                $("#changepass-form").hide();
                $("#error-reason").html(resp.message);
                $("#error-msg").show();
              } else {
                $("#changepass-form").hide();
                $("#success-msg").show();
              }
            },
          });
        });
      });
    </script>
  </body>
</html>
